{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="activeContentTitle">
		R
	</div>
	<div id="activeContentLine">
	</div>
	<div id="activeContentArea">
		<div class="row articleHeight">
			{% for current_page_article in current_page reversed %}
			{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %}
			<div class="col-xs-3 col-md-3 nopadding">
				<a class="articleLinkArea" href="/show_r_article/{{ current_page_article.id }}">
					<div class="articleIntroWrapper">
						<div class="articlePicture">
							<img class="articleImage" src="/media/{{current_page_article.thumbnail}}"/>
						</div>
						<div class="articleName">
						</div>
						<div class="articleNameText">
							{{ current_page_article.title }}
						</div>

					</div>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="row articleHeight">
			{% for current_page_article in current_page reversed %}
			{% if forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 7 or forloop.counter == 8 %}
			<div class="col-xs-3 col-md-3 nopadding">
				<a class="articleLinkArea" href="/show_r_article/{{ current_page_article.id }}">
					<div class="articleIntroWrapper">
						<div class="articlePicture">
							<img class="articleImage" src="/media/{{current_page_article.thumbnail}}"/>
						</div>
						<div class="articleName">
						</div>
						<div class="articleNameText">
							{{ current_page_article.title }}
						</div>

					</div>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div id="paginationWrapper">
			<ul class = "pagination">
				{%if current_page_number != 1 %}
				<li><a href = "/show_r_page/{{ current_page_number|add:"-1" }}/">&laquo;</a></li>
				{% elif current_page_number == 1 %}
				<li><a href = "/show_r_page/1">&laquo;</a></li>
				{% endif %}
				{% for page_number in total_page_range %}
				{% if current_page_number == page_number %}
				<li class = "active"><a href = "/show_r_page/{{ page_number }}/">{{ page_number }}</a></li>
				{% elif current_page_number != page_number %}
				<li><a href = "/show_r_page/{{ page_number }}/">{{ page_number }}</a></li>
				{% endif %}
				{% endfor %}
				{%if current_page_number < total_page_number %}
				<li><a href = "/show_r_page/{{ current_page_number|add:"1" }}/">&raquo;</a></li>
				{% elif current_page_number = total_page_number %}
				<li><a href = "/show_r_page/{{total_page_number}}">&raquo;</a></li>
				{% endif %}
			</ul>	
		</div>
	</div>
{% endblock %}