{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="normalContentArea">
	<div class="imageWrapper">
        <a target="_blank" style="color:#148cd2; width:100%; font-size:400%; font-family: 'THE도담R';"><p style="text-align:center"><b>임상의과학정보실 서버 임대 안내</b></p></a>
        <a target="_blank" style="color:#148cd2; font-size:200%"><li style="margin-left:100px">CPU: 1 thread 1일 사용시 750원</li><a>
        <a target="_blank" style="color:#148cd2; font-size:200%"><li style="margin-left:100px">Storage: 1 TB 1달 사용시 20,000원</li><a>

    <!--
		<img src="{% static 'image/server_rent.png' %}"/>
    -->
	</div>
</div>
{% endblock %}
